<section class="admin-pannel">
    <div class="container">
        <div class="row">
            <h1>Liste Des Véhicules</h1>
        </div>
        <div class="row">

            <a href="/add-vehicule">
                <i class="fas fa-plus-circle fa-5x" style="color: green;"></i>
            </a>

        </div>
        <div class="row vehicle-table">
            <table border="1" class="table table-sm">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Date</th>
                        <th scope="col">Année</th>
                        <th scope="col">Marque</th>
                        <th scope="col">Vitesse(boites)</th>
                        <th scope="col">Prix</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each posts}}
                    <tr>
                        <th scope="row">{{_id}}</th>
                        <td>{{title}}</td>
                        <td>{{createDate}}</td>
                        <td>{{year}}</td>
                        <td>{{mark}}</td>
                        <td>{{gearbox}}</td>
                        <td>{{price}}</td>
                        <td>
                            <a href="/vehicule-edit/{{_id}}"><i class="fas fa-edit"></i></a>
                            <a href="/vehicule/delete/{{_id}}"><i class="fas fa-trash-alt"></i></a>
                        </td>
                        {{!-- <td>{{vehicule.actions}}</td> --}}
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>

        <script>
            $(document).ready(function () {
                $("tr:odd").css({
                    "background-color": "red",
                    "color": "blue"
                });
            });
        </script>



    </div>

</section>